# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/AR-ACW/Debug
\.vs
AR-ACW/AR-ACW/Debug/
AR-ACW/AR-ACW/x64/Debug/AR-ACW.log
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/AR-ACW.lastbuildstate
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/AR-ACW.read.1u.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/AR-ACW.write.1u.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/CL.command.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/CL.read.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/CL.write.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/fxc.command.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/fxc.read.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/fxc.write.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/link.command.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/link.read.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.tlog/link.write.1.tlog
AR-ACW/AR-ACW/x64/Debug/AR-ACW.vcxproj.GenerateResource.Cache
AR-ACW/AR-ACW/x64/Debug/AR-ACW.vcxprojAssemblyReference.cache
AR-ACW/AR-ACW/x64/Debug/embed/embed.resfiles
AR-ACW/AR-ACW/x64/Debug/embed/embed.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/excluded.layout.resfiles
AR-ACW/AR-ACW/x64/Debug/excluded.layout.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/filtered.layout.resfiles
AR-ACW/AR-ACW/x64/Debug/filtered.layout.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/MultipleQualifiersPerDimensionFound.txt
AR-ACW/AR-ACW/x64/Debug/pri.resfiles
AR-ACW/AR-ACW/x64/Debug/pri.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/priconfig.xml
AR-ACW/AR-ACW/x64/Debug/priconfig.xml.intermediate
AR-ACW/AR-ACW/x64/Debug/ProjectArchitectures.txt
AR-ACW/AR-ACW/x64/Debug/qualifiers.txt
AR-ACW/AR-ACW/x64/Debug/qualifiers.txt.intermediate
AR-ACW/AR-ACW/x64/Debug/ResourceHandlingTask.state
AR-ACW/AR-ACW/x64/Debug/resources.resfiles
AR-ACW/AR-ACW/x64/Debug/resources.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/unfiltered.layout.resfiles
AR-ACW/AR-ACW/x64/Debug/unfiltered.layout.resfiles.intermediate
AR-ACW/AR-ACW/x64/Debug/vc141.idb
AR-ACW/AR-ACW/x64/Debug/vc141.pdb
AR-ACW/x64/Debug/AR-ACW/AppX/vs.appxrecipe
AR-ACW/x64/Debug/AR-ACW/SampleVertexShader.cso
AR-ACW/x64/Debug/AR-ACW/SamplePixelShader.cso
AR-ACW/x64/Debug/AR-ACW/resources.pri
AR-ACW/x64/Debug/AR-ACW/RayCastingVS.cso
AR-ACW/x64/Debug/AR-ACW/RayCastingPS.cso
AR-ACW/x64/Debug/AR-ACW/AR_ACW.winmd
AR-ACW/x64/Debug/AR-ACW/AR-ACW.pdb
AR-ACW/x64/Debug/AR-ACW/AR-ACW.ilk
AR-ACW/x64/Debug/AR-ACW/AR-ACW.build.appxrecipe
AR-ACW/x64/Debug/AR-ACW/AppxManifest.xml
AR-ACW/x64/Debug/AR-ACW/AppX/SampleVertexShader.cso
AR-ACW/x64/Debug/AR-ACW/AppX/SamplePixelShader.cso
AR-ACW/x64/Debug/AR-ACW/AppX/resources.pri
AR-ACW/x64/Debug/AR-ACW/AppX/RayCastingVS.cso
AR-ACW/x64/Debug/AR-ACW/AppX/RayCastingPS.cso
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/Wide310x150Logo.scale-200.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/StoreLogo.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/Square44x44Logo.scale-200.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/Square150x150Logo.scale-200.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/SplashScreen.scale-200.png
AR-ACW/x64/Debug/AR-ACW/AppX/Assets/LockScreenLogo.scale-200.png
AR-ACW/x64/Debug/AR-ACW/AppX/AR_ACW.winmd
AR-ACW/x64/Debug/AR-ACW/AppX/AppxManifest.xml
